name: CI - Build and Push

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Extrair versão da tag
        id: version
        run: |
          TAG="${{ github.ref_name }}"
          VERSION="${TAG#v}"
          echo "tag=$TAG" >> $GITHUB_OUTPUT
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Atualizar versão no pom.xml
        run: |
          mvn versions:set -DnewVersion=${{ steps.version.outputs.version }} -DgenerateBackupPoms=false

      - name: Build com Maven
        run: mvn clean package -DskipTests

      - name: Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build e Push da imagem Docker
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/spring-batch-lab:${{ steps.version.outputs.tag }}
            ${{ secrets.DOCKERHUB_USERNAME }}/spring-batch-lab:latest

      - name: Patch e Deploy workflow no Argo
        run: |
          sed 's|IMAGE_TAG|${{ steps.version.outputs.tag }}|g' k8s/workflows/spring-batch-workflow.yaml \
            | kubectl create -n argo -f -
